<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->

          <a href="/" class="logo">
            <img src="/assets/images/cyclone-02.png"  height="30" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <!--                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>-->
            <!--                            <li class="scroll-to-section"><a href="#about">About</a></li>-->
            <!--                            <li class="scroll-to-section"><a href="#projects">Projects</a></li>-->
            <!--                            <li class="submenu">-->
            <!--                                <a href="javascript:;">Drop Down</a>-->
            <!--                                <ul>-->
            <!--                                    <li><a href="">About Us</a></li>-->
            <!--                                    <li><a href="">Features</a></li>-->
            <!--                                    <li><a href="">FAQ's</a></li>-->
            <!--                                    <li><a href="">Blog</a></li>-->
            <!--                                </ul>-->
            <!--                            </li>-->
            <!--                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> -->
            <!--                            <div class="search-icon">-->
            <!--                                <a href="#search"><i class="fa fa-search"></i></a>-->
            <!--                            </div>-->
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item">
      <div class="img-fill">
        <img src="/assets/images/slide-03.jpg" alt="">
        <div class="text-content">
          <h3>Thank You For Your Support</h3>
          <h3><%=@current %> people are also interested in Cyclone</h3>
          <h5>The software is not currently ready for a wide-release.</h5>
          <a href="/" class="main-stroked-button">Learn More</a>
        </div>
      </div>
    </div>
    <!-- // Item -->

  </div>
</div>